:root {
    --sliding-animation: left 0.5s ease-in-out;
}

#root {
    overflow-x: hidden;
    background-color: #C4E1FF;
}

.sidebar {
    position: fixed;
    width: 250px;
    height: 100vh;
    background-color: #C4E1FF;
    left: -200px;
    transition: var(--sliding-animation);
}

.sidebar--expand {
    left: 0px;
    transition: var(--sliding-animation);
}

.sidebar__menu-icon {
    position: relative;
    width: 30px;
    height: 50px;
    cursor: pointer;
    left: 210px;
    transition: var(--sliding-animation);
}

.sidebar__menu-icon--expand {
    left: 210px;
    transition: var(--sliding-animation);
}

.sidebar__link__container {
    position: relative;
    left: -210px;
    transition: var(--sliding-animation);
}

.sidebar__link__container--expand {
    left: 225px;
    transition: var(--sliding-animation);
}

.sidebar__link {
    font-size: 1rem;
    padding: 1rem;
}

.sidebar__link__text {
    text-decoration: none;
    color: black;
    margin-left: 0px;
    transition: margin-left 0.05s ease-in-out;
}

.sidebar__link__text:hover {
    margin-left: 5px;
    transition: margin-left 0.05s ease-in-out;
}

.sidebar__social__container {
    position: absolute;
    left: 210px;
    bottom: 0px;
    transition: var(--sliding-animation);
}

.sidebar__social__container--expand {
    left: 410px;
    transition: var(--sliding-animation);
}

.sidebar__social-icon {
    width: 30px;
    height: 50px;
    margin-bottom: 10px;
    padding-left: 5px;
    transition: padding-left 0.05s ease-in-out;
}

.sidebar__social-icon:hover {
    padding-left: 0px;
    transition: padding-left 0.05s ease-in-out;
}

.bootstrap-wrapper {
    position: relative;
    margin-right: 50px;
    left: 50px;
    transition: var(--sliding-animation)
}

.bootstrap-wrapper--expand {
    left: 250px;
    transition: var(--sliding-animation);
}

.progress-wrapper {
    position: fixed;
    right: 50px;
    bottom: 50px;
    height: 46px;
    width: 46px;
    cursor: pointer;
    border-radius: 50px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(15px);
    transition: all 200ms linear;
}

.progress-wrapper.active-progress {
    opacity: 1;
    visibility: visible;
    transform: translateY(0);
}

.progress-wrapper::after {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    color: #008080;
    top: 0;
    width: 46px;
    cursor: pointer;
    display: block;
    transition: all 200ms linear;
}

.progress-wrapper::before {
    position: absolute;
    content: '↑';
    text-align: center;
    line-height: 46px;
    font-size: 24px;
    opacity: 0;
    background-color: #005c5c;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    left: 0;
    top: 0;
    height: 46px;
    width: 46px;
    cursor: pointer;
    z-index: 1;
}

.progress-wrapper:hover::before {
    opacity: 1;
}

.progress-wrapper svg path {
    fill: none;
}

.progress-wrapper svg.progress-circle path {
    stroke: #008080;
    stroke-width: 4;
}