<div class="border-bottom border-primary">
    <div class="container col-xxl-8 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="images/bg-computer.avif" class="d-block mx-lg-auto img-fluid" alt="a guy with a laptop"
                    width="588" height="503">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Embracing the Future</h1>
                <p>Learning and Growing in the AI Age</p>
                <p class="lead">As a student with a strong technical acumen and a passion for machine learning, I am
                    constantly exploring the latest technologies and techniques to create innovative solutions. Whether
                    it's building predictive models, developing computer vision algorithms, or designing natural
                    language processing systems, I am always eager to learn and grow.
                </p>
                <p class="lead">
                    With experience in creating multi-platform applications, including mobile and web applications, I
                    have a strong foundation in best practices and a keen eye for detail. Whether working alone or as
                    part of a team, I am adaptable and a quick learner, always ready to tackle new challenges.
                </p>
                <p class="lead">
                    Let's work together to create the future of intelligent technology.</p>
                </p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Take the Next Step</button>
                </div>
            </div>
        </div>
    </div>
</div>