<div id="home" class="border-bottom border-primary">
    <div class="container col-xxl-8 py-5">
        <div class="row flex-lg-row-reverse align-items-center g-5 py-5">
            <div class="col-10 col-sm-8 col-lg-6">
                <img src="images/bg-computer.png" class="d-block mx-lg-auto img-fluid" alt="binary" width="700"
                    height="500" loading="lazy">
            </div>
            <div class="col-lg-6">
                <h1 class="display-5 fw-bold lh-1 mb-3">Welcome to the Wacky World of Machine Learning!</h1>
                <p>Where we teach machines to be smarter than us (or at least try to).</p>
                <p class="lead">Hey there! I'm a solo machine learning enthusiast who's always tinkering with algorithms
                    and models to make them more accurate and efficient. If you're looking for a dedicated and
                    innovative ML practitioner, you've come to the right place. Whether it's computer vision, natural
                    language processing, or predictive modeling, I'm up for any challenge. So, let's bring some
                    intelligence to the world together!.</p>
                <div class="d-grid gap-2 d-md-flex justify-content-md-start">
                    <button type="button" class="btn btn-primary btn-lg px-4 me-md-2">Join the AI revolution now!</button>
                </div>
            </div>
        </div>
    </div>
</div>