<div id="technologies" class="border-bottom border-primary">
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2 border-bottom">Technologies I'm familiar with...</h2>

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 g-4 py-5">
            <div class="col d-flex align-items-start">
                <img src="images/tech-google.png" width="120rem" height="120rem">
                <div style="width: 2rem;"></div>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Google</h3>
                    <p>Cloud-based AI and machine learning services for innovative solutions.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img src="images/tech-kali.png" width="120rem" height="120rem">
                <div style="width: 2rem;"></div>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Kali Linux</h3>
                    <p>Advanced penetration testing and ethical hacking tools.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img src="images/tech-python.png" width="120rem" height="120rem">
                <div style="width: 2rem;"></div>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Python</h3>
                    <p>High-level programming language for machine learning, data analysis, and automation.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img src="images/tech-opencv.png" width="120rem" height="120rem">
                <div style="width: 2rem;"></div>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">OpenCV</h3>
                    <p>Computer vision library for image and video processing.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img src="images/tech-tensorflow.png" width="120rem" height="120rem">
                <div style="width: 2rem;"></div>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">TensorFlow</h3>
                    <p>Open-source machine learning framework for building and training models.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img src="images/tech-keras.png" width="120rem" height="120rem">
                <div style="width: 2rem;"></div>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Keras</h3>
                    <p>High-level neural networks API for easy and fast prototyping.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img src="images/tech-dart.png" width="120rem" height="120rem">
                <div style="width: 2rem;"></div>
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Dart</h3>
                    <p>Client-optimized language for building web and mobile apps.</p>
                </div>
            </div>
            <div class="col d-flex align-items-start">
                <img src="images/tech-flutter.png" width="120rem" height="120rem">
                <div>
                    <h3 class="fw-bold mb-0 fs-4">Flutter</h3>
                    <p>Open-source UI software development kit for building mobile apps.</p>
                </div>
            </div>
        </div>
    </div>
</div>