<div id="technologies" class="border-bottom border-primary">
    <div class="container px-4 py-5" id="icon-grid">
        <h2 class="pb-2">Technologies I'm familiar with...</h2>

        <div class="row row-cols-1 row-cols-md-2 row-cols-xl-3 g-4 py-5">
            <div class="col d-flex align-items-start">
                <img src="images/tech-aws.avif" width="120rem" height="120rem" alt="aws icon">
                <div class="algin-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">AWS</h3>
                    <p>Cloud computing platform for scalable and flexible computing power and storage.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-google.avif" width="120rem" height="120rem" alt="google icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">Google</h3>
                    <p>Cloud-based AI and machine learning services for innovative solutions.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-docker.avif" width="120rem" height="120rem" alt="aws icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">Docker</h3>
                    <p>Platform for building, shipping, and running applications in containers.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-kali.avif" width="120rem" height="120rem" alt="kali linux icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">Kali Linux</h3>
                    <p>Advanced penetration testing and ethical hacking tools.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-python.avif" width="120rem" height="120rem" alt="python icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">Python</h3>
                    <p>High-level programming language for machine learning, data analysis, and automation.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-opencv.avif" width="120rem" height="120rem" alt="opencv icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">OpenCV</h3>
                    <p>Computer vision library for image and video processing.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-tensorflow.avif" width="120rem" height="120rem" alt="tensorflow icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">TensorFlow</h3>
                    <p>Open-source machine learning framework for building and training models.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-keras.avif" width="120rem" height="120rem" alt="keras icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">Keras</h3>
                    <p>High-level neural networks API for easy and fast prototyping.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-dart.avif" width="120rem" height="120rem" alt="dart icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">Dart</h3>
                    <p>Client-optimized language for building mobile apps.</p>
                </div>
            </div>

            <div class="col d-flex align-items-start">
                <img src="images/tech-flutter.avif" width="120rem" height="120rem" alt="flutter icon">
                <div class="align-self-center ms-3">
                    <h3 class="fw-bold mb-0 fs-4">Flutter</h3>
                    <p>Open-source UI software development kit for building mobile apps.</p>
                </div>
            </div>
        </div>
    </div>
</div>